.popup__image-caption {
  position: absolute;
  margin: 0;
  padding: 0;
  bottom: -25px;
  left: 0;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
