.card-grid__item {
  margin: 0;
  padding: 0;
  line-height: 0;
  width: 282px;
  height: 361px;
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-sizing: border-box;
}
