.card-grid__container {
  max-width: var(--max-content-width);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 282px;
  gap: 20px 17px;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .card-grid__container {
    grid-template-columns: repeat(2, 282px);
  }
}

@media screen and (min-width: 1024px) {
  .card-grid__container {
    grid-template-columns: repeat(3, 282px);
  }
}
