.popup__submit-button {
  display: block;
  width: 100%;
  min-height: 46px;
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  border: none;
  box-shadow: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (min-width: 468px) {
  .popup__submit-button {
    min-height: 50px;
    font-size: 18px;
    line-height: 21.78px;
  }
}
