.profile__avatar-container {
  display: block;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 0 26px 0;
  box-sizing: border-box;
}

@media screen and (min-width: 880px) {
  .profile__avatar-container {
    margin: 0 30px 0 0;
  }
}
