.popup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 282px;
  max-width: 430px;
  margin: 0 auto;
  padding: 25px 22px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
}

@media screen and (min-width: 468px) {
  .popup__form {
    min-width: 430px;
    padding: 34px 36px;
  }
}
